# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# Jupyter
*.ipynb
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Git
.git/
.gitignore

# Logs
*.log

# Reports / graphs
reports/
notebooks/
scripts/

# Temporary
src/temp/
src/logs/

# README
README2.md

# OS
Thumbs.db
.DS_Store
